@{
    ViewBag.Message = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at Criminal Defense Tracking we believe everyone should be in the know as far the legal system goes. We understand that the legal process can be confusing to people who don't work in that field everyday. We want to make it simple to track arrests, convictions and court hearings. We will try to follow as many court cases as possible to keep you up to date. Feel free to add cases that you have heard of into our database. Any information that you have can be helpful to us. Any information that you're missing we can help fill in the blanks. Thank you for your interest in Criminal Defense Tracking.</p>
<style>
    h3{
        text-align:center;
        font-weight: bold;
    }
    p{
        text-align:center;
        font-size: 18px;
    }
</style>