@{
    ViewBag.Message = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Here at Criminal Defense Tracking we believe everyone should be in the know as far the legal system goes. We understand that the legal process can be confusing to people who don't work in that field everyday. We want to make it simple to track arrests, convictions, and court hearings. We will try to follow as many court cases as possible to keep you up to date. Feel free to add case that you have heard of into our database. Any info you have can be helpful, any details you don't have we can help finish out that for you. Thank you for your interest in Criminal Defense Tracking.</p>
<style>
    h3{
        text-align:center;
    }
    p{
        text-align:center;
    }
</style>