@{
    ViewBag.Message = "Contact the Criminal Defense Tracker Team";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    9725 Kincaid Dr.<br />
    Fishers, IN 46038<br />
    <abbr title="Phone">P:</abbr>
    317.800.8339
</address>

<address>
    <strong>Contact our Support Team:</strong>   <a href="mailto:CriminalDefenseTrackingSupport@gmail.com">CriminalDefenseTrackingSupport@gmail.com</a><br />
    <strong>Contact the Creator:</strong>   <a href="mailto:jajurney@gmail.com">jajurney@gmail.com</a><br />
    <strong>Suggestions:</strong>   <a href="mailto:CriminalDefenseTrackingSuggestions@gmail.com">CriminalDefenseTrackingSuggestions@gmail.com</a><br />
</address>