@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Criminal Defense Tracking</h1>
    <p class="lead">Criminal Defense Tracking is for anyone looking to track the progress of someone in the court system. From the time of arrest a defendant will be entered in the system. 
    As they progress through the trial process one can see where they stand as far as being convicted of a particular crime. The site is meant for anyone trying to keep tabs on their own court trial, 
    or someone who is interested in a certain defendant.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add New Information To Our Database</h2>
        <p>
            <ul>
                <li><a href="https://localhost:44302/Defendant/Create">Add A New Defendant</a></li>
                <li><a href="https://localhost:44302/Officer/Create">Add A New Officer</a></li>
                <li><a href="https://localhost:44302/StateAttorney/Create">Add A New State Attorney</a></li>
                <li><a href="https://localhost:44302/DefenseAttorney/Create">Add A New Defense Attorney</a></li>
                <li><a href="https://localhost:44302/Arrest/Create">Add A New Arrest</a></li>
                <li><a href="https://localhost:44302/Conviction/Create">Add A New Conviction</a></li>
                <li><a href="https://localhost:44302/CourtHearing/Create">Add A New Court Hearing</a></li>
            </ul>
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Get familiar with Criminals of History</h2>
        <p>Machine Gun Kelly(Not the Rapper): Kelly, a famous bootlegger, born in 1897, was known for being a rather harmless gangster. That is until he married a woman named Kathryn Thorne. She got him into all kinds of trouble. Bank robbing, and some other shady things. The crime that put him away finaly was when he kidnapped a man, who made his millions in oil. He was sentenced to life in 1933, but died 21 years later behind bars</p>
        
    </div>
    <div class="col-md-4">
        <h2>Helpful Links</h2>
        <p>
            Here are some Crime related sites:
            <ul>
                <li><a href="https://www.neighborhoodscout.com/">Neighborhood Scout</a></li>
                <li><a href="https://www.bjs.gov/">Bureau of Justice Statistics</a></li>
                <li><a href="https://www.historicalcrimedetective.com/related-sites/">Historical Crime Detective</a></li>
                <li><a href="https://www.crimemapping.com/">Crime Mapping </a></li>
            </ul>
        </p>
    </div>
</div>
<style>
    .jumbotron {
        background-color: #1F2833;
        border: 5px groove black;
        margin-top: 100px;
        padding-top: 15px;
        padding-bottom: 20px;
    }
    .col-md-4 {
        background-color: #1F2833;
        border: 5px groove black;
        text-align: left;
        width: 300px;
        height: 400px;
        margin-left: 75px;
        margin-top: 40px;
    }
</style>