@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger">This account has been locked out, please try again later.</h2>
</hgroup>
<style>
    h1 {
        font-size: 40px;
        text-align: center;
        margin-top: 70px;
    }

    h2 {
        font-size: 30px;
        text-align: center;
        margin-top: 70px;
    }
</style>
