@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<style>
    h2 {
        font-size: 40px;
        text-align: center;
        margin-top: 70px;
    }

    div {
        margin: 0 auto;
        width: 550px;
    }
</style>