@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="text">
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
<style>
    h1 {
        font-size: 40px;
        text-align: center;
        margin-top: 70px;
    }

    .text {
        margin: 0 auto;
        width: 550px;
    }
</style>